<legend> Update Email <i class="fa fa-address-card-o" aria-hidden="true"></i> </legend>
<form name="updateForm">
    <input type="text" ng-model="email" id="updatedEmail" name="updatedEmail" class="form-control" required>
    <span class="help-block has-error">
            <span ng-show="createForm.updatedEmail.$error.required">Email is required.</span>
    </span>
    <button class="btn btn-defult" ng-disabled="updateForm.updatedEmail.$invalid" ng-click="update()">
            <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>
    <button ng-click="back()" class="btn btn-success">
            <i class="fa fa-undo" aria-hidden="true"></i> Back</button>
</form>