<!--<div class="jumbotron">
    <h1>
       Welcome 
    </h1>
    <h2>
        ​Functional Learning Centre
    </h2>

</div>
<img src="../images/logo.png" alt="">-->
<div class="row">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img " src="../images/logo.png">
            </a>
        </div>
        <div class="media-body">
            <h1 class="media-heading text-info">Functional Learning Center </h1>
            <strong> <i>For more information,call (250) 999-2028</i></strong><br><br>
            <div class="col-xs-9">
                <div class="well color">
                    <h4 class="media-heading "><strong>Our Mission </strong></h4>
                    <p class="textSize">To provide evidence-based behavoir analytic servives to allow learners with autism and other developmental and behavioral disabilities achieve their full potential</p>
                </div>
                <div class="well color">
                    <h4 class="media-heading textColor bg-info"><strong>Our Philosophy</strong> </h4>
                    <p class="textSize">Every individual that we teach is precious and has the right to a safe engaging therapeutic environment filled with learning opportunities, care and affection.<br> Great outcomes are possible with services that focus on the welfare
                        of the client, treatment by a competent behavoir analyst and most effective interventions available (Van Houten et al.,1988). Through: </p>
                    <ol id="list" class="textSize">
                        <li> systematic and strategic planning</li>
                        <li> keeping abreast of research</li>
                        <li> training and maintaining teaching akills of all team member</li>
                        <li> supporting and working with families</li>
                        <li> collaborating with other professionals and</li>
                        <li> managing resources, we ensure that the learner's progress occurs through the arrangement of teaching environments which are mostly supportive, fosters independence and social acceptability.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>