<form name="resetform" id="resetform" novalidate>
    <legend>Reset Password</legend>
    <div class="form-group" ng-class="{'has-error':resetform.password.$invalid && resetform.password.$dirty}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="password" name="password" required placeholder="Password">
        <span class="help-block has-error">
            <span ng-show="resetform.password.$error.required">Password is required.</span>
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error':resetform.confirmPassword.$invalid && resetform.confirmPassword.$dirty}">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required placeholder="ConfirmPassword">
        <span class="help-block has-error">
            <span ng-show="resetform.confirmPassword.$error.required">ConfirmPassword is required.</span>
        <br>
        <span ng-hide="confirmPassword==password">Password and Confirm Password not matched.</span>
        </span>
    </div>
    <p class="well">
        {{resetError}}
    </p>
    <button ng-click="reset()" ng-disabled="resetform.$invalid" class="btn btn-primary">Change</button>
    <button ng-click="cancel()" class="btn btn-primary">Cancel</button>
</form>