<!--<div class="jumbotron row">
    <h1>hello from parentEmail </h1>
</div>
<div class="row">
    <label>select a parent</label>
    <select id="parentid" required class="col-xs-3">
        <option></option>
            <option ng-show="parent" ng-repeat="p in parent track by $index" value={{p.id}}>{{p.fatherName}}&nbsp;{{p.motherName}}</option>
    </select>
    <button class="btn btn-primary" ng-show="addEmail" ng-click="showcreate()">Add New Email</button>
    <form ng-show="showCreate" name="createForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <input type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' placeholder="Enter Email" id="parentemail" required class="form-control">
            <span class="help-block has-error">
            <span ng-show="createForm.Email.$error.required">Email is required.</span>
            </span>
            <input type="submit" ng-disabled="createForm.$invalid" ng-click="add()">
        </div>
    </form>
</div>
<br>
<div ng-show="emails">
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Emails</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in emails track by $index">
                <td id="e.id">{{e.email}}</td>
                <td><button class="btn btn-primary" ng-click="confirmdelete(e.id)">Delete</button></td>
                <td><button class="btn btn-primary" ng-click="showupdate(e.email,e.id)">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>
<form ng-show="showUpdate" name="updateForm" novalidate>
    <input type="email" ng-value="showUpdate" id="updatedEmail" required class="form-control">
    <span class="help-block has-error">
            <span ng-show="createForm.Email.$error.required">Email is required.</span>
    </span>
    <input type="submit" ng-disabled="updateForm.$invalid" ng-click="update()">
</form>

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Email</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Email?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">Yes</button>
            </div>
        </div>
    </div>
</div>-->